* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* font-family: "Lato", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  background: #017633;
  color: black;
  line-height: 1.6;
}
/* ********** */
.head {
  background: #017633;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.head h1 {
  color: #017633;
  font-size: 10rem;
  font-weight: 900;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}
@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}
.head h1:nth-child(2) {
  animation-delay: 0.5s;
}
.head h1:nth-child(3) {
  animation-delay: 1s;
}
.head h1:nth-child(4) {
  animation-delay: 1.5s;
}
.head h1:nth-child(5) {
  animation-delay: 2s;
}
.head h1:nth-child(6) {
  animation-delay: 2.5s;
}
.words h1:nth-child(7) {
  animation-delay: 3s;
}
/* *************** */
ul {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
}
h2 {
  font-size: 5rem;
  font-weight: 900;
}
h3 {
  text-align: center;
}
p {
  margin: 10px 0;
}
/* img {
  width: 12rem;
}
img:hover {
  background-color: #fff;
  border-radius: 100px;
}
.rotate {
  transform: rotate(50deg);
} */
.main {
  margin-top: 9rem;
}
.head {
  display: flex;
  justify-content: center;
  letter-spacing: 0.5rem;
}
.tag {
  color: #fff;
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}
.navbar.top {
  background: transparent;
}
.navbar a {
  color: #ffd60a;
  padding: 10px 20px;
  margin: 0 5px;
}
.navbar a:hover {
  color: #fff;
  border-bottom: #ffd60a 2px solid;
  border-top: #ffd60a 2px solid;
}
.navbar ul {
  display: flex;
}
/* Container */
.container {
  /* background-color: #000; */
  height: 90vh;
  width: 60vw;
  margin: 3rem auto;
  display: flex;
  justify-content: space-evenly;
}

/* Contact Page */
.contactForm {
  margin: 2rem 0rem;
  color: #fff;
}
.contactForm form div {
  padding: 0.3rem;
  text-align: center;
}
.contactForm input {
  height: 4vh;
  width: 25vw;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
.contactForm textarea {
  width: 25vw;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
.btn {
  margin-top: 0rem;
  background-color: #ffd60a;
  border: none;
  color: #fff;
  padding: 0.7rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 12.25vw;
}
.btn:hover {
  background-color: #fff;
  color: #ffd60a;
  font-size: 1.2rem;
}

/* Footer */
.footer {
  width: 100%;
  bottom: 0;
  display: block;
  text-align: center;
  position: fixed;
}
.footer a {
  font-size: 1rem;
  color: #000;
  padding-left: 1rem;
  color: #fff;
}
.footer a:hover {
  color: #ffd60a;
}
.footer .name {
  color: #ffd60a;
}
.footer .name:hover {
  color: #fff;
}

/* Coming soon */
.page404 {
  margin-top: 12rem;
  font-weight: 600;
  font-size: 5rem;
  color: #fff;
}
.page404 #timer {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #ffd60a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}
